<!-- 即将直播报名 -->
<div id="beforeLivingApply" class="modal">
	<div class="modal-content">
		<form name="beforeLivingApplyForm">
	        <div >
	            <span style="display:inline-block;width:80px;">参与人</span>
	            <input type="text" name="enrollName" placeholder="填写姓名" style="display:inline-block;width:240px;vertical-align:2px;" ng-required="true" ng-model="beforeLivingApplyInfo.enrollName">
	            <div style="margin-left:80px;font-size:12px;color:#f00;" ng-show="beforeLivingApplyForm.enrollName.$dirty && beforeLivingApplyForm.enrollName.$error.required">参与人不能为空</div>
	        </div>
	        <div>
	            <span style="display:inline-block;width:80px;">联系方式</span>
	            <input type="text" name="contactWay" placeholder="填写手机号码" style="display:inline-block;width:240px;vertical-align:2px;" ng-required="true" ng-pattern="/^1[34578]\d{9}$/" ng-model="beforeLivingApplyInfo.contactWay">
	            <div style="margin-left:80px;font-size:12px;color:#f00;" ng-show="beforeLivingApplyForm.contactWay.$dirty && beforeLivingApplyForm.contactWay.$error.required">联系方式不能为空</div>
	            <div style="margin-left:80px;font-size:12px;color:#f00;" ng-show="beforeLivingApplyForm.contactWay.$dirty && beforeLivingApplyForm.contactWay.$error.pattern">联系方式格式不正确</div>
	        </div>
	        <div>
	            <span style="display:inline-block;width:80px;">公司名称</span>
	            <input type="text" name="companyName" placeholder="填写完整公司名称" style="display:inline-block;width:240px;vertical-align:2px;" ng-required="true" ng-model="beforeLivingApplyInfo.companyName">
	            <div style="margin-left:80px;font-size:12px;color:#f00;" ng-show="beforeLivingApplyForm.companyName.$dirty && beforeLivingApplyForm.companyName.$error.required">公司名称不能为空</div>
	        </div>

	        <button type="button" ng-disabled="beforeLivingApplyForm.$invalid" ng-click="beforeLivingApplySubmit()">提交</button>
	    </form>
	</div>
</div>