<ion-header-bar align-title="center" class='home_head themebgcolor'>
    <a ng-click="goBack()" class="margin-top10 margin-left10"><img src="img/prepage.png"></a>
    <h3>消费记录</h3>
</ion-header-bar>

<ion-content style="padding-top:10px;">
    <div ng-repeat="consumptionItem in consumptionList">
        <div class="row" style="font-size: 16px;">
            <div class="col-75" >
                <div>{{consumptionItem.shoppingName}}</div>
                <div style="font-size:14px;">{{consumptionItem.createdDate | date:'yyyy-MM-dd'}}</div>
            </div>
            <div class="col-25" style="text-align:right;">
                <div style="color:#c95f48;">{{consumptionItem.orderTurnover / 100}}元</div>
                <div>
                    <span style="color:rgb(143, 143, 143);font-size:12px;" ng-if="consumptionItem.orderStatus == 1">未支付</span>
                    <span style="color:rgb(105,196,78);font-size:12px;" ng-if="consumptionItem.orderStatus == 2">已支付</span>
                </div>
            </div>
        </div>
        <div style="background-color: #fbfafa">&nbsp;</div>
    </div>
</ion-content>