<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>activityDetail</title>
	<!-- <link rel="stylesheet" href="style/lib/normalize.css"> -->
	<link rel="stylesheet" href="style/lib/materialize.min.css">
	<link rel="stylesheet" href="style/common.css">
	<link rel="stylesheet" href="style/header_footer.css">
	<link rel="stylesheet" href="style/login.css">
	<link rel="stylesheet" href="style/activityDetail.css">
	<script src="js/lib/jquery-1.12.3.js"></script>
	<script src="js/backTop.js"></script>
	<script src="js/lib/materialize.min.js"></script>
	<script src="js/lib/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/service.js"></script>
</head>
<body ng-app="fkliving" ng-controller="ActivityDetailCtrl">
	<div ng-include="'templates/header.html'"></div>


	<div id="content" class="box">
		<div class="course_title">{{activityInfo.activityName}}</div>
		<div class="course_video clearfix">
			<div class="course_video_l pull-left">
				<img src="{{activityInfo.activityIcon}}" style="width: 100%;height: 100%;">
			</div>
			<div class="course_video_r pull-right">
				<!-- <h3>活动名称名称名称名称名称名称</h3> -->
				<!--<div class="introduction clearfix">
					<div class="title_l pull-left" style="width: 100px;">活动简介 :</div>
					<div class="content_r pull-left" style="width: 290px;line-height: 1.4;">
						从投诉到风控巧妙化解客户不满和快速止损课程，旨在帮助学员面对客户的投诉，售后专家应采用有效的处理方式，力求在最短的时间内解客户的处境和同理心转换，化解客户的不满和愤怒方式，力求在最短的时间内解客户的处境和同理心转换，化解客户的不满和愤怒。
					</div>
				</div>-->
				<div class="teacher clearfix">
					<div class="title_l pull-left" style="width: 100px;">活动名称 :</div>
					<div class="content_r pull-left" style="width: 290px;line-height: 1.4;">{{activityInfo.activityName}}</div>
				</div>
				<div class="teacher clearfix">
					<div class="title_l pull-left" style="width: 100px;">活动时间 :</div>
					<div class="content_r pull-left" style="width: 290px;line-height: 1.4;">{{activityInfo.activityStartTime | date:'yyyy-MM-dd'}}</div>
				</div>
				<div class="teacher clearfix">
					<div class="title_l pull-left" style="width: 100px;">活动地点 :</div>
					<div class="content_r pull-left" style="width: 290px;line-height: 1.4;">{{activityInfo.activityAddress}}</div>
				</div>
				<div class="teacher clearfix">
					<div class="title_l pull-left" style="width: 100px;">活动价格 :</div>
					<div class="content_r pull-left color-main" style="width: 290px;line-height: 1.4;">{{activityInfo.activityPrice / 100}}元</div>
				</div>
				<div class="clearfix" style="margin-top: 10px;">
					<!--即将进行 未报名-->
					<div class="apply_now inline-block bgcolor-main" ng-if="activityInfo.newActivityStatus == 1 && !livingEnrollStatus" ng-click="livingApply()">即将开始立即报名</div>

					<!--即将进行 已报名未支付-->
					<div class="apply_now inline-block bgcolor-main" ng-if="activityInfo.newActivityStatus == 1 && livingEnrollStatus && !livingPayStatus" ng-click="livingApplyed()">即将开始已报名</div>

					<!--即将进行 已报名已支付-->
					<div class="apply_now inline-block bgcolor-main" ng-if="activityInfo.newActivityStatus == 1 && livingEnrollStatus && livingPayStatus">即将开始已支付</div>


					<!--正在进行 未报名-->
					<div class="apply_now inline-block bgcolor-main" ng-if="activityInfo.newActivityStatus == 2 && !livingEnrollStatus" ng-click="livingApply()">正在进行立即报名</div>

					<!--正在进行 已报名但未支付-->
					<div class="apply_now inline-block bgcolor-main" ng-if="activityInfo.newActivityStatus == 2 && livingEnrollStatus && !livingPayStatus" ng-click="livingApplyed()">正在进行去支付</div>

					<!--正在进行 已报名且已支付-->
					<div class="apply_now inline-block bgcolor-main" ng-if="activityInfo.newActivityStatus == 2 && livingEnrollStatus && livingPayStatus">已支付</div>


					<!--线下活动已结束 未支付-->
					<!--<div class="apply_now inline-block bgcolor-main" ng-if="activityInfo.newActivityStatus == 3 && !endedAtivityStatus" ng-click="endedActivityNotPay()">已结束去支付</div>-->
					<!--线下活动已结束(有视频进入视频详情页后判断支付状态)-->
					<a class="apply_now inline-block bgcolor-main" ng-if="activityInfo.newActivityStatus == 3 && activityInfo.video.videoId != null" href="video.html?videoId={{activityInfo.video.videoId}}">回顾内容</a>
					<!--线下活动已结束(无视频)-->
					<div class="apply_now inline-block bgcolor-main" ng-if="activityInfo.newActivityStatus == 3 && activityInfo.video.videoId == null">已结束</div>

					
					<div class="inline-block">{{activityInfo.number}}人已报名</div>
				</div>
				<!-- <ul class="wrapper clearfix">
					<li class="pull-left"><img src="images/dianzan1.png"> <span>喜欢</span> <span>(12)</span></li>
					<li class="pull-left"><img src="images/collection1.png"> <span>收藏</span> <span>(12)</span></li>
					<li class="pull-left"><img src="images/share.png"> <span>分享</span> <span>(12)</span></li>
				</ul> -->
			</div>
		</div>

		<div class="course_summary clearfix">
			<div class="course_summary_l pull-left">
				<div class="introduction">
					<h3 class="introduction_title">活动介绍</h3>
					<p class="introduction_content" id="j-activityDetail">{{activityInfo.activityDescription}}</p>
				</div>
				<div class="introduction">
					<h3 class="introduction_title">讲师介绍</h3>
					<p class="introduction_content">
						<div>讲师姓名 : {{activityTeacherInfo.teacherName}}</div>
						<div>讲师简介 : {{activityTeacherInfo.teacherDescription}}</div>
					</p>
				</div>
			</div>

			<div class="course_summary_r pull-left">
				<h3 class="title">相关活动</h3>
				<div class="courseList">
					<div class="courseItem" ng-repeat="activityRelatedItem in activityRelatedList">
						<div class="courseItem_img pull-left">
							<a href="activityDetail.html?activityId={{activityRelatedItem.activityId}}">
								<img src="{{activityRelatedItem.activityIcon}}" style="width: 100%;height: 100%;" alt="">
							</a>
						</div>
						<div class="courseItem_info pull-left">
							<div class="activity_name">{{activityRelatedItem.activityName}}</div>
							<div class="activity_price">
								<span class="color-main" ng-if="activityRelatedItem.activityPrice == 0">免费</span>
								<span class="color-main" ng-if="activityRelatedItem.activityPrice > 0">{{activityRelatedItem.activityPrice / 100}}元</span>
							</div>
							<div class="activity_address singleLine-ellipsis">地点：{{activityRelatedItem.activityAddress}}</div>
							<div class="activity_time">{{activityRelatedItem.activityStartTime | date:'yyyy-MM-dd'}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>


	<div ng-include="'templates/footer.html'"></div>

	<div login-register></div>

	<div id="back-top"></div>
	


	<!-- 即将进行、正在进行活动 报名 -->
	<div id="livingApply" class="modal">
		<div class="modal-content">
			<form name="livingApplyForm">
		        <div>
		            <span style="display:inline-block;width:80px;">参与人</span>
		            <input type="text" name="enrollName" placeholder="填写姓名" style="display:inline-block;width:240px;vertical-align:2px;" ng-required="true" ng-model="livingApplyInfo.enrollName">
		            <div style="margin-left:80px;font-size:12px;color:#f00;" ng-show="livingApplyForm.enrollName.$dirty && livingApplyForm.enrollName.$error.required">参与人不能为空</div>
		        </div>
		        <div>
		            <span style="display:inline-block;width:80px;">联系方式</span>
		            <input type="text" name="contactWay" placeholder="填写手机号码" style="display:inline-block;width:240px;vertical-align:2px;" ng-required="true" ng-pattern="/^1[34578]\d{9}$/" ng-model="livingApplyInfo.contactWay">
		            <div style="margin-left:80px;font-size:12px;color:#f00;" ng-show="livingApplyForm.contactWay.$dirty && livingApplyForm.contactWay.$error.required">联系方式不能为空</div>
		            <div style="margin-left:80px;font-size:12px;color:#f00;" ng-show="livingApplyForm.contactWay.$dirty && livingApplyForm.contactWay.$error.pattern">联系方式格式不正确</div>
		        </div>
		        <div>
		            <span style="display:inline-block;width:80px;">公司名称</span>
		            <input type="text" name="companyName" placeholder="填写完整公司名称" style="display:inline-block;width:240px;vertical-align:2px;" ng-required="true" ng-model="livingApplyInfo.companyName">
		            <div style="margin-left:80px;font-size:12px;color:#f00;" ng-show="livingApplyForm.companyName.$dirty && livingApplyForm.companyName.$error.required">公司名称不能为空</div>
		        </div>

		        <button type="button" ng-disabled="livingApplyForm.$invalid" ng-click="livingApplySubmit()">提交</button>
		    </form>
		</div>
	</div>
	<!-- 即将进行、正在进行 确认订单 -->
	<div id="livingConfirmOrder" class="modal">
		<div class="modal-content">
	        <div>
	            <span style="display:inline-block;width:80px;">参与人</span>
	            <span>{{livingConfirmOrderInfo.joiner}}</span>
	        </div>
	        <div>
	            <span style="display:inline-block;width:80px;">联系方式</span>
	            <span>{{livingConfirmOrderInfo.mobile}}</span>
	        </div>
	        <div>
	            <span style="display:inline-block;width:80px;">公司名称</span>
	            <span>{{livingConfirmOrderInfo.company}}</span>
	        </div>

	        <button type="button" ng-click="livingConfirmOrderSubmit()">确认</button>
		</div>
	</div>

	<!--线下活动已结束(未支付) 确认订单-->
	<div id="endedActivityNotPayConfirmOrder" class="modal">
		<div class="modal-content">
	        <div>
	            <span style="display:inline-block;width:80px;">活动名称</span>
	            <span>{{activityInfo.activityName}}</span>
	        </div>
	        <div>
	            <span style="display:inline-block;width:80px;">价格</span>
	            <span>{{activityInfo.activityPrice / 100}}元</span>
	        </div>
	        <button type="button" ng-click="endedActivityNotPayConfirmOrderSubmit()">确认</button>
		</div>
	</div>

	<!-- 选择支付方式 -->
	<div id="livingSelectPayType" class="modal">
		<div class="modal-content">
	        <div>支付方式</div>
	        <div ng-click="balancePay()">余额支付</div>
	        <div ng-click="wechatPay()">微信支付</div>
	        <div ng-click="aliPay()">支付宝支付</div>
	        <div ng-click="couponPay()">体验券支付</div>
	        <!-- <button type="button" ng-click="livingSelectPayTypeSubmit()">提交</button> -->
		</div>
	</div>
	

</body>
</html>