<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>余额支付</title>
	<!--<link rel="stylesheet" href="style/lib/normalize.css">-->
	<link rel="stylesheet" href="style/lib/materialize.min.css">
	<link rel="stylesheet" href="style/common.css">
	<link rel="stylesheet" href="style/header_footer.css">
	<link rel="stylesheet" href="style/login.css">
	<link rel="stylesheet" href="style/pay.css">
	<script src="js/lib/jquery-1.12.3.js"></script>
	<script src="js/backTop.js"></script>
	<script src="js/lib/materialize.min.js"></script>

	<script src="js/lib/encrypt/crypto-js.js"></script>
	<script src="js/lib/encrypt/aes.js"></script>
	<script src="js/lib/encrypt/pad-zeropadding.js"></script>

	<script src="js/lib/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/service.js"></script>
</head>
<body ng-app="fkliving" ng-controller="BalancePayCtrl">
	<div ng-include="'templates/header.html'"></div>

	<div class="box">
		<div>商户订单号：{{orderInfo.orderCode}}</div>
        <div>订单名称：{{orderInfo.description}}</div>
        <div>付款金额：<span style="color: #f00;">{{orderInfo.orderTurnover}}元</span></div>
        <div>商品描述：{{orderInfo.description}}</div>
        <button type="button" ng-click="balancePaySubmit()">确认支付</button>
	</div>

	<div id="balancePayModal" class="modal">
		<div class="modal-content">
	        <div>支付成功！{{balancePayTime}}s后返回</div>
	        <div ng-click="goBack()">立即返回</div>
		</div>
	</div>

	<div ng-include="'templates/footer.html'"></div>

	<div login-register></div>

	<div id="back-top"></div>
</body>
</html>