<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>个人中心</title>
	<!--<link rel="stylesheet" href="style/lib/normalize.css">-->
	<link rel="stylesheet" href="style/lib/materialize.min.css">
	<link rel="stylesheet" href="style/common.css">
	<link rel="stylesheet" href="style/header_footer.css">
	<link rel="stylesheet" href="style/login.css">
	<link rel="stylesheet" href="style/personalCenter.css">
	<script src="js/lib/jquery.min.js"></script>
	<script src="js/backTop.js"></script>
	<script src="js/lib/materialize.min.js"></script>

	<script src="js/lib/encrypt/crypto-js.js"></script>
	<script src="js/lib/encrypt/aes.js"></script>
	<script src="js/lib/encrypt/pad-zeropadding.js"></script>
	
	<script src="js/lib/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controller.js"></script>
	<script src="js/service.js"></script>
</head>
<body ng-app="fkliving" ng-controller="PersonalCenterCtrl">

	<div ng-include="'templates/header.html'"></div>

	<div id="content" class="box clearfix">
		<div class="pull-left">
			<div class="user-center">个人中心</div>
			<ul class="title-list">
				<li class="item" ng-class="{active:item == 1}" ng-click="userData(1)">
					<img class="icon" src="images/user-data.png"> 用户资料 <span class="arrow">></span>
				</li>
				<li class="item" ng-class="{active:item == 2}" ng-click="userActivity(2)">
					<img class="icon" src="images/user-activity.png"> 我的活动 <span class="arrow">></span>
				</li>
				<li class="item" ng-class="{active:item == 3}" ng-click="userCollection(3)">
					<img class="icon" src="images/user-collection.png"> 我的收藏 <span class="arrow">></span>
				</li>
				<li class="item" ng-class="{active:item == 4}" ng-click="userConsume(4)">
					<img class="icon" src="images/user-consume.png"> 消费记录 <span class="arrow">></span>
				</li>
				<li class="item" ng-class="{active:item == 5}" ng-click="userHistory(5)">
					<img class="icon" src="images/user-history.png"> 历史记录 <span class="arrow">></span>
				</li>
				<li class="item" ng-class="{active:item == 6}" ng-click="userRecharge(6)">
					<img class="icon" src="images/user-recharge.png"> 充值兑换 <span class="arrow">></span>
				</li>
				<li class="item" ng-class="{active:item == 7}" ng-click="userSetting(7)">
					<img class="icon" src="images/user-setting.png"> 账户设置 <span class="arrow">></span>
				</li>
			</ul>
		</div>

		<div class="wrapper pull-right">
			<div class="user-data" ng-if="item == 1">
				<h4 class="title">资料编辑</h4>
				<div class="user-content">
					<div class="line">
						<span class="name">昵称</span>
						<span><input type="text" placeholder="您还没有昵称，点击添加昵称" ng-model="user.userSpareStrone"></span>
					</div>
					<div class="line">
						<span class="name">性别</span>
						<span>
							<input id="man" type="radio" name="sex" value="1" ng-model="user.sex"> <label for="man">男</label>&nbsp;&nbsp;&nbsp;&nbsp;
							<input id="woman" type="radio" name="sex" value="2" ng-model="user.sex"> <label for="woman">女</label>
						</span>
					</div>
					<div class="line">
						<span class="name">公司名称</span>
						<span><input type="text" ng-model="user.userAddress"></span>
					</div>
					<div class="line">
						<span class="name">手机号码</span>
						<span><input type="text" ng-model="user.userPhone"></span>
					</div>
					<div class="line">
						<span class="name">邮箱</span>
						<span><input type="text" ng-model="user.userEmail"></span>
					</div>
					<button class="sub-info" ng-click="keepInfo()">保存</button>
				</div>
			</div>

			<div class="user-activity" ng-show="item == 2" style="height:500px;">
				<h4 class="title">我的活动</h4>
				<div class="user-content">
					<ul class="nav_title clearfix">
						<li class="pull-left">
							<a class='btn' href='#' data-activates='dropdown1' ng-click="all()">全部</a>
						</li>
						<li class="pull-left">
							<a class='dropdown-button btn' href='#' data-activates='dropdown2'>{{typeName || '类别'}}</a>
							<ul id='dropdown2' class='dropdown-content'>
								<li ng-click="toggleType(0)">类别</li>
								<li ng-click="toggleType(1)">内控</li>
								<li ng-click="toggleType(2)">审计</li>
								<li ng-click="toggleType(3)">财务</li>
								<li ng-click="toggleType(4)">税务</li>
								<li ng-click="toggleType(5)">风控</li>
							</ul>
						</li>
						<li class="pull-left">
							<a class='dropdown-button btn' href='#' data-activates='dropdown3'>{{priceName || '状态'}}</a>
							<ul id='dropdown3' class='dropdown-content'>
								<li ng-click="togglePrice(0)">状态</li>
								<li ng-click="togglePrice(1)">未支付</li>
								<li ng-click="togglePrice(2)">已支付</li>
							</ul>
						</li>
					</ul>


					<dl class="clearfix" ng-repeat="activeItem in activeList">
						<dt class="pull-left dt_l">
							<div class="courseItem_img pull-left">
								<img class="video_course" src="images/course.png">
								<!--<img class="video_play" src="images/video_play.png">-->
							</div>
							<div class="courseItem_info pull-left">
								<div class="course_name">{{activeItem.activityName}}</div>
								<div class="course_price">
									<span class="color-main" ng-if="activeItem.activityPrice == 0">免费</span>
									<span class="color-main" ng-if="activeItem.activityPrice > 0">{{activeItem.activityPrice / 100}}元</span>
								</div>
								<div class="course_teacher">人数 <span class="color-939393">12</span></div>
								<div class="color-939393">{{activeItem.activityStartTime | date:'yyyy-MM-dd'}}</div>
							</div>
						</dt>
						<dt class="pull-left dt_m">
							<span ng-if="activeItem.activityType == 1">控</span>
							<span ng-if="activeItem.activityType == 2">审</span>
							<span ng-if="activeItem.activityType == 3">财</span>
							<span ng-if="activeItem.activityType == 4">税</span>
							<span ng-if="activeItem.activityType == 5">风</spa>
						</dt>
						<dt class="pull-left dt_r">
							<span ng-if="activeItem.activityWay == 3">线上</span>
							<span ng-if="activeItem.activityWay == 1 || activeItem.activityWay == 2">线下</span>
						</dt>
					</dl>
					
					<!--<button class="sub-info">保存</button>-->
				</div>
			</div>

			<div class="user-collection" ng-if="item == 3">
				<h4 class="title">我的收藏</h4>
				<div class="user-content">
					<ul class="ul_nav clearfix">
						<li class="pull-left" ng-click="getMyCollection(1)" ng-class="{active:collectionType == 1}">课程</li>
						<li class="pull-left" ng-click="getMyCollection(2)" ng-class="{active:collectionType == 2}">视频</li>
					</ul>

					<div>
						<div class="activity_course" ng-if="collectionType == 1">
							<span ng-if="collectList.length == 0">暂无收藏课程</span>

							<dl class="clearfix" ng-if="collectList.length > 0" ng-repeat="collectItem in collectList">
								<dt class="pull-left dt_l">
									<div class="courseItem_img pull-left">
										<!-- <img class="video_course" src="images/course.png"> -->
										<a href="recordedCourseDetail.html?courseId={{collectItem.courseId}}">
											<img class="video_course" src="{{collectItem.imageUrl}}">
										</a>
									</div>
									<div class="courseItem_info pull-left">
										<div class="course_name">{{collectItem.courseName}}</div>
										<div class="course_teacher">讲师 : <span class="color-939393">{{collectItem.teacherName}}</span></div>
										<div class="course_price">
											<span class="color-main" ng-if="collectItem.price == 0">免费</span>
											<span class="color-main" ng-if="collectItem.price > 0">￥ {{collectItem.price / 100}}</span>
										</div>
										<div class="clearfix">
											<span class="pull-left color-939393">共{{collectItem.courseChapterNumber}}节</span>
											<span class="pull-right"><img src="images/eye.png"> 60</span>
										</div>
									</div>
								</dt>
								<dt class="pull-left dt_m">风</dt>
								<dt class="pull-left dt_r">线上</dt>
							</dl>

							<!--<button class="sub-info">编辑</button>-->
						</div>


						<div class="activity_video" ng-if="collectionType == 2">
							<span ng-if="collectList.length == 0">暂无收藏视频</span>
							
							<dl class="clearfix" ng-if="collectList.length > 0" ng-repeat="collectItem in collectList">
								<dt class="pull-left dt_l">
									<div class="courseItem_img pull-left">
										<img class="video_course" src="{{collectItem.videoIcon}}">
										<a href="video.html?videoId={{collectItem.videoId}}"><img class="video_play" src="images/video_play.png"></a>
									</div>
									<div class="courseItem_info pull-left">
										<div class="course_name">{{collectItem.videoName}}</div>
										<div class="course_teacher">讲师 : <span class="color-939393">{{collectItem.teacherName}}</span></div>
										<div class="course_price">
											<span class="color-main" ng-if="collectItem.videoPrice == 0">免费</span>
											<span class="color-main" ng-if="collectItem.videoPrice > 0">￥ {{collectItem.videoPrice / 100}}</span>
										</div>
										<div>
											<span class="pull-left color-939393">01:12:00</span>
											<span class="pull-right"><img src="images/eye.png"> {{collectItem.lookedPeople}}</span>
										</div>
									</div>
								</dt>
								<dt class="pull-left dt_m">风</dt>
								<dt class="pull-left dt_r">线上</dt>
							</dl>

							<!--<button class="sub-info">编辑</button>-->
						</div>
					</div>
				</div>
			</div>

			<div class="user-consume" ng-if="item == 4">
				<h4 class="title">消费记录</h4>
				<div class="user-content">
					<ul class="ul_nav clearfix">
						<li class="pull-left">消费项目</li>
						<li class="pull-left">消费金额</li>
						<li class="pull-left">状态</li>
						<li class="pull-left">时间</li>
					</ul>

					<ul class="ul_nav clearfix border-none" ng-repeat="consumptionItem in consumptionList">
						<li class="pull-left">{{consumptionItem.shoppingName}}</li>
						<li class="pull-left"><span class="color-main">￥ {{consumptionItem.orderTurnover / 100}}</span></li>
						<li class="pull-left">
							<span style="color:rgb(143, 143, 143);font-size:12px;" ng-if="consumptionItem.orderStatus == 1">未支付</span>
							<span style="color:rgb(105,196,78);font-size:12px;" ng-if="consumptionItem.orderStatus == 2">已支付</span>
						</li>
						<li class="pull-left">{{consumptionItem.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</li>
					</ul>
					
					<!--<button class="sub-info">编辑</button>-->
				</div>
			</div>

			<div class="user-history" ng-if="item == 5">
				<h4 class="title">历史记录</h4>
				<div class="user-content">
					<ul class="ul_nav clearfix">
						<li class="pull-left active">全部</li>
						<li class="pull-left">课程</li>
						<li class="pull-left">视频</li>
						<li class="pull-left">活动</li>
					</ul>

					<div>
						<div class="history_all">
							<dl class="clearfix">
								<dt class="pull-left dt_l">
									<div class="courseItem_img pull-left">
										<img class="video_course" src="images/course.png">
									</div>
									<div class="courseItem_info pull-left">
										<div class="course_name">课程标题标题标题标题</div>
										<div class="course_teacher">讲师 : <span class="color-939393">某某某</span></div>
										<div class="course_price"><span class="color-main">免费</span></div>
										<div>
											<span class="pull-left color-939393">共12节</span>
											<span class="pull-right"><img src="images/eye.png"> 60</span>
										</div>
									</div>
								</dt>
								<dt class="pull-left dt_m">审</dt>
							</dl>
							<dl class="clearfix">
								<dt class="pull-left dt_l">
									<div class="courseItem_img pull-left">
										<img class="video_course" src="images/course.png">
									</div>
									<div class="courseItem_info pull-left">
										<div class="course_name">视频标题标题标题标题</div>
										<div class="course_teacher">讲师 : <span class="color-939393">某某某</span></div>
										<div class="course_price"><span class="color-main">免费</span></div>
										<div>
											<span class="pull-left color-939393">01:12:00</span>
											<span class="pull-right"><img src="images/eye.png"> 60</span>
										</div>
									</div>
								</dt>
								<dt class="pull-left dt_m">风</dt>
							</dl>
							<dl class="clearfix">
								<dt class="pull-left dt_l">
									<div class="courseItem_img pull-left">
										<img class="video_course" src="images/course.png">
									</div>
									<div class="courseItem_info pull-left">
										<div class="course_name">活动标题标题标题标题</div>
										<div class="course_teacher">讲师 : <span class="color-939393">某某某</span></div>
										<div class="course_price"><span class="color-main">免费</span></div>
										<div>
											<span class="pull-left color-939393">共12节</span>
											<span class="pull-right"><img src="images/eye.png"> 60</span>
										</div>
									</div>
								</dt>
								<dt class="pull-left dt_m">审</dt>
							</dl>

							<button class="sub-info">清空记录</button>
						</div>

						<div class="history_course hide">
							<dl class="clearfix">
								<dt class="pull-left dt_l">
									<div class="courseItem_img pull-left">
										<img class="video_course" src="images/course.png">
									</div>
									<div class="courseItem_info pull-left">
										<div class="course_name">课程标题标题标题标题</div>
										<div class="course_teacher">讲师 : <span class="color-939393">某某某</span></div>
										<div class="course_price"><span class="color-main">免费</span></div>
										<div>
											<span class="pull-left color-939393">共12节</span>
											<span class="pull-right"><img src="images/eye.png"> 60</span>
										</div>
									</div>
								</dt>
								<dt class="pull-left dt_m">审</dt>
							</dl>
							<dl class="clearfix">
								<dt class="pull-left dt_l">
									<div class="courseItem_img pull-left">
										<img class="video_course" src="images/course.png">
									</div>
									<div class="courseItem_info pull-left">
										<div class="course_name">课程标题标题标题标题</div>
										<div class="course_teacher">讲师 : <span class="color-939393">某某某</span></div>
										<div class="course_price"><span class="color-main">免费</span></div>
										<div>
											<span class="pull-left color-939393">共12节</span>
											<span class="pull-right"><img src="images/eye.png"> 60</span>
										</div>
									</div>
								</dt>
								<dt class="pull-left dt_m">风</dt>
							</dl>
							<dl class="clearfix">
								<dt class="pull-left dt_l">
									<div class="courseItem_img pull-left">
										<img class="video_course" src="images/course.png">
									</div>
									<div class="courseItem_info pull-left">
										<div class="course_name">课程标题标题标题标题</div>
										<div class="course_teacher">讲师 : <span class="color-939393">某某某</span></div>
										<div class="course_price"><span class="color-main">免费</span></div>
										<div>
											<span class="pull-left color-939393">共12节</span>
											<span class="pull-right"><img src="images/eye.png"> 60</span>
										</div>
									</div>
								</dt>
								<dt class="pull-left dt_m">审</dt>
							</dl>

							<button class="sub-info">清空记录</button>
						</div>

						<div class="history_video hide">
							<dl class="clearfix">
								<dt class="pull-left dt_l">
									<div class="courseItem_img pull-left">
										<img class="video_course" src="images/course.png">
									</div>
									<div class="courseItem_info pull-left">
										<div class="course_name">视频标题标题标题标题</div>
										<div class="course_teacher">讲师 : <span class="color-939393">某某某</span></div>
										<div class="course_price"><span class="color-main">免费</span></div>
										<div>
											<span class="pull-left color-939393">01:12:00</span>
											<span class="pull-right"><img src="images/eye.png"> 60</span>
										</div>
									</div>
								</dt>
								<dt class="pull-left dt_m">风</dt>
								<dt class="pull-left dt_r">线上</dt>
							</dl>
							<dl class="clearfix">
								<dt class="pull-left dt_l">
									<div class="courseItem_img pull-left">
										<img class="video_course" src="images/course.png">
									</div>
									<div class="courseItem_info pull-left">
										<div class="course_name">视频标题标题标题标题</div>
										<div class="course_teacher">讲师 : <span class="color-939393">某某某</span></div>
										<div class="course_price"><span class="color-main">免费</span></div>
										<div>
											<span class="pull-left color-939393">01:12:00</span>
											<span class="pull-right"><img src="images/eye.png"> 60</span>
										</div>
									</div>
								</dt>
								<dt class="pull-left dt_m">审</dt>
								<dt class="pull-left dt_r">线下</dt>
							</dl>
							<dl class="clearfix">
								<dt class="pull-left dt_l">
									<div class="courseItem_img pull-left">
										<img class="video_course" src="images/course.png">
									</div>
									<div class="courseItem_info pull-left">
										<div class="course_name">视频标题标题标题标题</div>
										<div class="course_teacher">讲师 : <span class="color-939393">某某某</span></div>
										<div class="course_price"><span class="color-main">免费</span></div>
										<div>
											<span class="pull-left color-939393">01:12:00</span>
											<span class="pull-right"><img src="images/eye.png"> 60</span>
										</div>
									</div>
								</dt>
								<dt class="pull-left dt_m">审</dt>
								<dt class="pull-left dt_r">线上</dt>
							</dl>

							<button class="sub-info">清空记录</button>
						</div>

						<div class="history_activity hide">
							<dl class="clearfix">
								<dt class="pull-left dt_l">
									<div class="courseItem_img pull-left">
										<img class="video_course" src="images/course.png">
									</div>
									<div class="courseItem_info pull-left">
										<div class="course_name">活动标题标题标题标题</div>
										<div class="course_price"><span class="color-main">免费</span></div>
										<div class="course_teacher">人数 <span class="color-939393">12</span></div>
										<div><span class="pull-left color-939393">2017-05-03</span></div>
									</div>
								</dt>
								<dt class="pull-left dt_m">风</dt>
								<dt class="pull-left dt_r">线上</dt>
							</dl>
							<dl class="clearfix">
								<dt class="pull-left dt_l">
									<div class="courseItem_img pull-left">
										<img class="video_course" src="images/course.png">
									</div>
									<div class="courseItem_info pull-left">
										<div class="course_name">活动标题标题标题标题</div>
										<div class="course_price"><span class="color-main">免费</span></div>
										<div class="course_teacher">人数 <span class="color-939393">12</span></div>
										<div><span class="pull-left color-939393">2017-05-03</span></div>
									</div>
								</dt>
								<dt class="pull-left dt_m">审</dt>
								<dt class="pull-left dt_r">线下</dt>
							</dl>
							<dl class="clearfix">
								<dt class="pull-left dt_l">
									<div class="courseItem_img pull-left">
										<img class="video_course" src="images/course.png">
									</div>
									<div class="courseItem_info pull-left">
										<div class="course_name">活动标题标题标题标题</div>
										<div class="course_price"><span class="color-main">免费</span></div>
										<div class="course_teacher">人数 <span class="color-939393">12</span></div>
										<div><span class="pull-left color-939393">2017-05-03</span></div>
									</div>
								</dt>
								<dt class="pull-left dt_m">审</dt>
								<dt class="pull-left dt_r">线上</dt>
							</dl>

							<!--<button class="sub-info">清空记录</button>-->
						</div>
					</div>
				</div>
			</div>

			<div class="user-recharge" ng-show="item == 6">
				<h4 class="title">充值兑换</h4>
				<div class="user-content">
					<ul class="ul_nav clearfix">
						<li class="pull-left active">充值</li>
						<li class="pull-left">兑换</li>
					</ul>

					<div>
						<div class="recharge">
							<dl class="clearfix">
								<dd class="pull-left account_balance">账户余额</dd>
								<dd class="pull-left account_balance_rmb"><span class="color-main">￥ {{userBalance}}</span></dd>
								<dd class="pull-left account_recharge bgcolor-main" ng-click="rechargeBtn()">立即充值</dd>
							</dl>

							<ul class="ul_nav_record clearfix">
								<li class="pull-left">充值记录</li>
								<!-- <li class="pull-right more">更多 >></li> -->
							</ul>
							<dl class="clearfix" ng-repeat="consumptionItem in consumptionList">
								<dd class="pull-left recharge_date">{{consumptionItem.recordTime | date:'yyyy-MM-dd'}}</dd>
								<dd class="pull-left recharge_num color-main">+ {{consumptionItem.recordMoney * 100}}元</dd>
							</dl>



							<!--<div id="ckepop">
								<span class="jiathis_txt">分享到：</span>
								<a class="jiathis_button_weixin">微信</a>
								<a href="http://www.jiathis.com/share"  class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
								<a class="jiathis_counter_style"></a> </div> 
								<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1" charset="utf-8"></script>
							</div>-->



						</div>

						<div class="exchange" style="display: none;">
							<ul class="clearfix">
								<li class="pull-left"><input class="exchange_code" type="text" placeholder="请输入兑换码" ng-model="data.exchangeCode"></li>
								<li class="pull-left"><button class="exchange_btn bgcolor-main" ng-click="exchangeCodeBtn()">立即兑换</button></li>
							</ul>

							<ul class="discount">
								<li style="text-align: left;">体验券</li>
							</ul>
							<span ng-if="couponList.length == 0">暂无体验券</span>
							<ul ng-if="couponList.length > 0">
								<li class="couponBg" ng-repeat="couponItem in couponList">
									<img src="images/coupon-bg.png" alt="">
									<span class="coupon-l color-main">体验券</span>
									<div class="coupon-r">
										<div class="color-main">{{couponItem.couponName}}</div>
										<div>1. {{couponItem.couponDescription}}</div>
										<div>2. 有效期：{{couponItem.couponStartTime | date:'yyyy MM dd'}} -- {{couponItem.couponEndTime | date:'yyyy MM dd'}}</div>
										<div>3. 券码：{{couponItem.couponNumber}}</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="user-setting" ng-if="item == 7">
				<h4 class="title">账户设置</h4>
				<div class="user-content">
					<ul class="ul_nav">
						<li style="text-align: left;">修改密码</li>
					</ul>

					<ul>
						<li class="clearfix">
							<div class="pull-left password_name">旧密码</div>
							<div class="pull-left"><input class="password_input" type="password" ng-model="registerData.oldpassword"></div>
						</li>
						<li class="clearfix">
							<div class="pull-left password_name">新密码</div>
							<div class="pull-left"><input class="password_input" type="password" ng-model="registerData.password"></div>
						</li>
						<li class="clearfix">
							<div class="pull-left password_name">确认密码</div>
							<div class="pull-left"><input class="password_input" type="password" ng-model="registerData.rpassword"></div>
						</li>
					</ul>

					<button class="sub-info" ng-click="modifyPasswordBtn()">保存</button>

					<ul class="ul_nav">
						<li style="text-align: left;">账户绑定</li>
					</ul>
					<div>
						<img src="images/wx.png" alt="">
					</div>

				</div>
			</div>

		</div>
	</div>


	<div ng-include="'templates/footer.html'"></div>

	<div login-register></div>

	<div id="back-top"></div>


	<!--账户余额充值-->
	<div id="rechargeModal" class="modal">
		<div class="modal-content">
			<div>充值金额</div>
			<div class="row">
				<div class="col m6" ng-repeat="rechargeItem in rechargeList" ng-click="selectAmount($event,rechargeItem.productPrice)">
					充￥{{rechargeItem.productPrice / 100}}
				</div>
			</div>
			<ul>
				<li ng-click="selectPayType(1)">
					<label for="ali" class="clearfix">
						<div style="float:left;">
							<img src="images/Alipay.png" style="width:30px;height:30px;"><span ng-class="{rechangeActive:selectedPayType == 1}">支付宝</span>
						</div>
						<input type="radio" name="radio" id="ali" style="float:right;width:20px;height:20px">
						<i class="selectedRadio" style="float:right;">√</i>
					</label>
				</li>
				<li ng-click="selectPayType(2)">
					<label for="weixin" class="clearfix">
						<div style="float:left;">
							<img src="images/weixin.png" style="width:30px;height:30px;"><span ng-class="{rechangeActive:selectedPayType == 2}">微信</span>
						</div>
						<input type="radio" name="radio" id="weixin" style="float:right;width:20px;height:20px">
						<i class="selectedRadio" style="float:right;">√</i>
					</label>
				</li>
			</ul>
			<button ng-click="confirmRecharge()">充值</button>
		</div>
	</div>

	<!--兑换优惠券-->
	<div id="exchangeCoupon" class="modal">
		<div class="modal-content">
			<h5 style="text-align:center;">兑换成功!</h5>
			<div style="text-align:center">
				成功兑换一张<span style="color:#f00;">{{codeDescriptionCoupon}}</span>
			</div>
		</div>
	</div>
	<!--兑换风控币-->
	<div id="exchangeMoney" class="modal">
		<div class="modal-content">
			<h4>兑换成功!</h4>
			<div style="text-align:center">
				成功兑换风控币<span style="color:#f00;">{{codeDescriptionMoney}}</span>
			</div>
		</div>
	</div>


	<script>
		$(function(){
			var activityClassItem = $('#content').find('.wrapper').find('.user-activity').find('.class').find('.item');
			activityClassItem.on('click',function(){
				$(this).addClass('active').siblings().removeClass('active');
			})

			var collectionLi = $('#content').find('.wrapper').find('.user-collection').find('.ul_nav').find('li');
			collectionLi.on('click',function(){
				$(this).addClass('active').siblings().removeClass('active').parent().next().children('div').eq($(this).index()).show().siblings().hide();
			})

			var historyLi = $('#content').find('.wrapper').find('.user-history').find('.ul_nav').find('li');
			historyLi.on('click',function(){
				$(this).addClass('active').siblings().removeClass('active').parent().next().children('div').eq($(this).index()).show().siblings().hide();
			})

			var rechargeLi = $('#content').find('.wrapper').find('.user-recharge').find('.ul_nav').find('li');

			rechargeLi.on('click',function(){
				$(this).addClass('active').siblings().removeClass('active').parent().next().children('div').eq($(this).index()).show().siblings().hide();
			})
		})
	</script>
</body>
</html>